.about-me-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    .hero-section {
        & h1 {
            font-size: clamp(1.8rem, 4.5vw, 3.5rem);
            text-align: center;
            max-width: 1200px;
            @media (width <= 600px) {
                text-align: start;
            }
        }
        & h6 {
            font-size: clamp(1.2rem, 2.4vw, 1.8rem);
            text-align: center;
            width: 70vw;
            @media (width <= 600px) {
                text-align: start;
                width: 100%;
            }
        }
        .button-container {
            border-radius: 100px;
            .button {
                padding: 1rem 2rem;
                color: white;
                border-color: black;
                background-color: black;
                border-radius: 100px;
                font-size: 1rem;
                font-weight: 600;
                border: 2px solid;
                &:hover {
                    border: 2px solid;
                    background-color: rgb(255, 196, 0);
                    color: black;
                }
            }
        }
    }
}
