/* Featured Project Cards */
.project-cards {
    & h1 {
        /* font-size: clamp(2rem, 5vw, 3.5rem); */
        font-size: clamp(1.5rem, 3vw, 3rem);
        @media (width <= 650px) {
            font-size: clamp(2rem, 8.5vw, 3rem);
        }
    }
    & h2 {
        font-size: clamp(1.3rem, 2.6vw, 2rem);
        @media (width <= 650px) {
            font-size: clamp(1.3rem, 5vw, 2rem);
        }
    }
    & h5 {
        font-size: min(0.75rem, 3vw);
    }

    .description {
        margin-top: 0.5rem;
    }

    .technologies-used {
        @media (750px >= width >= 650px) {
            display: none !important;
        }
        .technologies-container {
            margin-top: 0.5rem;
            font-weight: 100;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    .button-container {
        /* .button-div is for hover animation */
        .button-div {
            width: 160px;
            @media (width <= 1000px) {
                width: 100%;
            }
        }
    }
}
