@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800&display=swap");

* {
    margin: 0;
}

body {
    font-family: "Raleway";
}

.nav-menu-item-active {
    color: white;
    text-decoration: underline;
}

.nav-menu-item {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nav-menu-item:hover {
    color: white;
}

/* Animation try */

 {
    /* Scroll Animation, Use Later on for Known Technologies */
}
 {
    /* <div className="scroll" style={{ display: "flex" }}>
                    <h3 style={{ fontSize: "2rem" }}>
                        - Email: <span>kenlopezyokohama@gmail.com</span> -
                        Contact:{" "}
                        <span style={{ fontFamily: "arial" }}>
                            +63 917 578 7991{" "}
                        </span>
                    </h3>
                    
                    <h3 style={{ fontSize: "2rem" }}>
                        - Email: <span>kenlopezyokohama@gmail.com</span> -
                        Contact:{" "}
                        <span style={{ fontFamily: "arial" }}>
                            +63 917 578 7991{" "}
                        </span>
                    </h3>
                </div> */
}

.scroll h3 {
    white-space: nowrap;
    animation: animate 40s linear infinite;
    animation-delay: -20s;
}

.scroll h3:nth-child(2) {
    animation: animate2 40s -40s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}
